.hide-border::before,
.hide-border::after {
  display: none;
}


.dd-item::marker {
  display: none !important;
  font-size: 0px;
}
/* html {
  border: 6px solid rgb(0, 128, 126);
} */

html{
  border: 5px solid lightseagreen;
}



.btn-outline-secondary:hover {
  color: #ffffff !important;
}

.rsm-svg {
  height: 100%;
  width: 100%;
}

.modal {
  z-index: 11112 !important;
}

.image-gallery-play-button {
  display: none;
}

.image-gallery {
  width: 50%;
}

.image-gallery-left-nav .image-gallery-svg,
.image-gallery-right-nav .image-gallery-svg {
  height: 70px !important;
  width: 60px !important;
}

.card .header .header-dropdown li .dropdown-menu,
.header-dropdown.dropdown-menu {
  background: #17191c;
  border-radius: 0.55rem;
  overflow: hidden;
  transform: none !important;
  left: auto !important;
  right: 10px !important;
  padding: 10px;
  box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
  border: 0;
  top: 10px !important;
  color: #999 !important;
}

.card .header .header-dropdown li a {
  color: #999 !important;
  padding: 10px;
  white-space: nowrap;
  font-size: 14px;
}

.card .header .header-dropdown li a:hover {
  color: #fff !important;
}

.accordion .card .card-header {
  background-color: transparent !important;
}

.accordion .card .card-header .btn-link {
  color: #666;
}

.accordion .card-body {
  font-size: 15px;
  line-height: 28px;
  color: #777;
}

.button-container {
  display: none !important;
}

.hide-toggle::after {
  display: none !important;
  margin-left: 0em !important;
  vertical-align: 0em !important;
  content: !important;
  border-right: 0em solid transparent !important;
  border-bottom: 0 !important;
}

.form-control {
  height: calc(1.5em + 0.75rem + 5px) !important;
}

.hide-toggle .btn-outline-secondary {
  height: calc(1.5em + 0.75rem + 5px) !important;
}

.jvectormap-container {
  height: 300px;
}

.jvectormap-zoomin,
.jvectormap-zoomout {
  position: absolute;
  background: #000;
  color: #fff;
  padding: 2px 7px;
}

.jvectormap-zoomin {
  top: 0px;
}

.jvectormap-zoomout {
  top: 27px;
}

.list-group-item + .list-group-item {
  border-top-width: 1px !important;
}

.hclass {
  left: -40px !important;
}

.modal-dialog {
  position: relative;
  top: 10rem;
}

.boxes .para {
  font-size: 20px;
}

.nav-item {
  font-size: 16px;
  margin: 2px;
font-weight: 600;
}

.nav-item:hover {
  background-color: rgb(181, 186, 186);
  border-radius: 6px;
}

.navbar-nav {
  margin: 0px;
}

.scanner-disclaimer-component {
  width: 97% !important;
  margin: 3rem auto;
}

.backupTable {
  font-size: 1vw !important;
}

@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700');

/* Specific classes for navbar and other elements */
.navbar .logo {
  width: 120px;
}

.navbar .icon {
  height: 25px;
}

.boxes {
  display: flex;
  justify-content: space-between;
}

.boxes button {
  border-radius: 3px;
}

.navbar .user-icon {
  height: 30px;
  border-radius: 50px;
  border: 1px solid black;
}

.navbar .user-menu {
  padding: 0px;
  left: 0px;
  border-top: 1px solid whitesmoke;
}

.navbar .notifications {
  padding: 0;
  left: -250px;
}

.navbar .notifications ul {
  height: 250px;
  overflow: auto;
}

.table-bordered {
  background-color: #fff; /* Changed background color */
  border-radius: 0.25rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Added box shadow */
}

.row {
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8); /* Added box shadow */
}

.table-bordered > tbody > tr > td,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > td,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > thead > tr > th {
  border: 1px solid #dee2e6;
}

.table-hover tbody tr:hover {
  background-color: black;
}

.table-heading {
  background-color: #343a40;
  color: #fff;
  padding: 1rem;
  border-radius: 0.25rem 0.25rem 0 0;
  text-align: center;
}
